.App {
  text-align: left;
}

.App-header {
  background-color: #27AE60;
  height: 50px;
  color: white;
}
h2{
  margin: 0 0;
  padding-top: 10px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
